<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<header>
    <a href="/new_post">New POST</a>
</header>

<body>
    Forum

    liste post
    <% for(var i=0; i<posts.length; i++){ %>
    <div>
        <h1><%= posts[i].title %></h1>
        <h3><%= posts[i].author %></h3>
        <h4><%= posts[i].date %></h4>
    </div>
    <% } %>
</body>

</html>